<header>
	<a href='/'><h1 class="site-title"><i class="fab fa-rocketchat"></i>Rocket Threads</h1></a>
			
		<nav class="navbar">
			<ul class="navlist">
				<li class="navitem navlink"><a href="/nfl">NFL</a></li>
				<li class="navitem navlink"><a href="/nba">NBA</a></li>
				<li class="navitem navlink"><a href="/mlb">MLB</a></li>
				<li class="navitem navlink"><a href="/mls">MLS</a></li>
				<li class="navitem navlink"><a href="/nhl">NHL</a></li>
			</ul>
			
		</nav>	
		
		<div class="search">		
			<input type="text" id="navbar-search-input" placeholder="Search...">
			<button type="button" id="navbar-search-button"><i class="fas fa-search"></i></button>
		</div>
</header>
