<article class="scoreboard">
	<div class="teams">
		<p class="team-one-name">
			{{teamOneName}}
		</p>
			<p class="team-one-score">
				{{teamOneScore}}
			</p>
				
		<button type="button" id="thread-icon"><i class="far fa-comment-alt"></i></button>
										
		<p class="team-two-name">
			{{teamTwoName}}
		</p>
			<p class="team-two-score">
				{{teamTwoScore}}
			<p>
	</div>		
</article>
