<article class="scoreboard">
	<div class="teams">
		<p class="team-one-name">
			{{team-one-name}}
		</p>
			<p class="team-one-score">
				{{team-one-score}}
			</p>
				
		<button type="button" id="thread-icon"><i class="far fa-comment-alt"></i></button>
										
		<p class="team-two-name">
			{{team-two-name}}
		</p>
			<p class="team-two-score">
				{{team-two-score}}
			<p>
	</div>		
</article>
